<ion-header>
  <ion-toolbar>
    <ion-title>Modificar Personaje</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Nombre</ion-label>
    <ion-input type="text" [(ngModel)]="personaje.nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Descripcion</ion-label>
    <ion-input type="text" [(ngModel)]="personaje.descripcion"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Elemento</ion-label>
    <ion-input type="text" [(ngModel)]="personaje.elemento"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Via</ion-label>
    <ion-input type="text" [(ngModel)]="personaje.via"></ion-input>
  </ion-item>

  <!-- Agregar más campos de acuerdo a la estructura del objeto personaje -->

  <ion-button expand="block" (click)="guardarCambios()">Guardar Cambios</ion-button>
</ion-content>
