<!-- presentacion.page.html -->
<ion-content>
  <div class="presentation-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Bienvenido a la página que recopila información sobre BT21!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          BT21 es una línea de personajes creada en colaboración entre LINE FRIENDS y el grupo de K-pop BTS. Cada personaje representa a uno de los miembros de BTS y tiene su propia personalidad única. Explora más sobre estos adorables personajes y su historia.
        </p>
        <ion-button routerLink="/personajes" expand="block" color="dark">Explorar Personajes</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
