/* En tu archivo de estilos CSS */

ion-card {
    border: 1px solid black; /* Borde negro alrededor de la tarjeta */
    margin-bottom: 15px; /* Margen inferior para separar las tarjetas */
  }
  
  ion-card-title {
    font-size: 1.5em; /* Tamaño más grande para el título del personaje */
    font-weight: bold; /* Texto en negrita para el título */
  }
  
  