<ion-header>
  <ion-toolbar>
    <ion-title>Mapas de BT21</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card (click)="verMapa('Mapa 1')">
    <img src="/assets/bt21_space.jpg" alt="Mapa 1">
    <ion-card-header>
      <ion-card-title>Planeta BT</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      El colorido planeta BT es el hogar de los adorables personajes de BT21. Rodeado de alegría y diversión, cada rincón de este planeta cuenta con paisajes encantadores y es el escenario perfecto para las aventuras de Tata, Mang, Chimmy, Cooky, Shooky, Koya, y RJ.
    </ion-card-content>
  </ion-card>

  <ion-card (click)="verMapa('Mapa 2')">
    <img src="/assets/bt21_planet.jpg" alt="Mapa 2">
    <ion-card-header>
      <ion-card-title>BT21 Land</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Explora las maravillas de BT21 Land, un lugar mágico lleno de sorpresas. Los personajes de BT21 se embarcan en emocionantes aventuras para proteger su mundo y difundir la diversión y la felicidad.
    </ion-card-content>
  </ion-card>

  <ion-card (click)="verMapa('Mapa 3')">
    <img src="/assets/bt21_village.jpg" alt="Mapa 3">
    <ion-card-header>
      <ion-card-title>Pueblo BT21</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Sumérgete en la vida diaria de los personajes de BT21 en el acogedor Pueblo BT21. Disfruta de las amistades y las travesuras mientras exploras este encantador lugar.
    </ion-card-content>
  </ion-card>
</ion-content>
