<!-- historia.page.html -->
<ion-content>
  <div class="historia-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>HISTORIA DE BT21</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          En el colorido mundo de BT21, la historia comienza en el planeta "BT". Este planeta pacífico y lleno de alegría es el hogar de los adorables personajes de BT21, creados por LINE FRIENDS y BTS. Cada personaje tiene una historia única y representan las personalidades de los miembros de BTS.
        </p>
        <p>
          Tata, Mang, Chimmy, Cooky, Shooky, Koya, y RJ son los siete personajes principales de BT21, cada uno con sus propias características especiales. Juntos, emprenden aventuras emocionantes para proteger su mundo y difundir la diversión y la felicidad.
        </p>
        <img class="icon-image rounded-image" src="/assets/kafka.jpg" alt="Grupo de personajes BT21">
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
